@font-face {
	font-family: '8BITWONDERNominal';
	src: url("../assets/8-bit_wo-webfont.woff") format("woff"),
	url("../assets/8-bit_wo-webfont.ttf") format("opentype");
}
@font-face {
	font-family: '8BIT';
	src: url("../assets/cyrillic_pixel-7.ttf") format("cyril");
}
body{
    background-image: url("https://lh3.googleusercontent.com/proxy/ck1z1zFutVPZCfTdg-qIpmftK6CaPIwqDANKuYRTg1wjLWKQj7UKGphr2EecU284OEnk_uf4Pvt7e1H-Lu09hf-HuanOMfoP");
	font-family: '8BITWONDERNominal', sans-serif;
}

.worldmap{
	fill: rgba(0, 0, 0, 0.99);
	stroke: #fffbfd;
	stroke-width: 1px;
}
#place{
	width: 600px;
	height: 400px;
}








#timer_inp{
	position: absolute;
	font-size: 36px;
	margin-left: 20px;
	margin-top: -1px;
}






.score{
	display: flex;
	flex-direction: row;
}

#score{
	margin-top: -3px;
	margin-left: 10px;
	margin-bottom: -60px;
}
#charr{
	height: 120px;
}
.headerMap{
	display: flex;
	flex-wrap: wrap;
}


/*Кнопка поиска города*/

* {box-sizing: border-box;}
#inp {
	display: flex;
	flex-direction: row;
	width: 300px;
	height: 42px;
	font-size: 20px;
	padding: 5px;

	margin: 30px auto 20px;

	font-family: '8BIT', sans-serif;
}
#galochka{
	margin: 0 auto;
	text-align: center;
	font-size: 20px;

	display: flex;

	justify-self: center;
	justify-items: center;
	justify-content: center;

	width: 160px;
	padding: 5px;

	background-color: green;
	color: #eeeeee;

	border: none;

}
input{

}
button {

}


#botOtvet{
	margin-top: 130px;
	margin-left: 50px;
}
#out{
	width: 230px;
	height: 40px;
	background-color: rgb(233, 232, 229);
	border: solid 2px rgb(71, 70, 70);
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 20px;
	margin-left: -100px;
	margin-bottom: -20px;

	text-align: center;
	padding-top: 8px;
}
